* {
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin:0;
  font-family: sans-serif;
}
.overlay{
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color:#fff;
  position: absolute;
  top: 150px;
  font-size:100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
  position: absolute;
  top: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

#bla {
  text-align: left;
  color:white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#textbox{
  width: 400px;
  margin: 30px 30px 0px 30px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

#button{
  background-color: black;
  color: rgb(218, 214, 214);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  padding: 6px 8px;
}

li{
  text-align: left;
  padding-left: 50px;
}

#list{
  margin-top: 10px;
  width: 100px;
  margin-left: 300px;
}

#list li{
  width: 400px;
  height: 40px;
  margin-left: 100px;
  border-radius: 3px;
  padding-bottom: 5px;
  border: 1px solid gray;
}

ul li span{
  position: relative;
  left: 10px;
  bottom: -3px;
  font-size: 22px;
  width: 0px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#image{
  position: absolute;
  left: 780px;
}

#check{
  position: relative;
  left: -15px;
  bottom: -7px;
  height: 30px;
  width: 30px;
}

img:hover{
  cursor: pointer;
  opacity: 0.5;
}
